/********Geral************/

:root{
    --corPrincipal: rgb(255, 125, 0);
    --corSecundaria: #131d3b;
    --corPadrao: #fff;
}


*{
    margin: 0;
    padding:  0;
    box-sizing: border-box;
}

body{
    background-color:white;
}

.container{
    max-width: 1300px;
}

/*********seta***********/

#seta{
    width: 100px;
    text-align: center;
    position: fixed;
    z-index: 2;
    bottom: 130px;
    right: 10px;
    box-shadow: 0 0 1px #ccc;
    background-color: rgba(54, 31, 31, 0.8);
    padding: 10px;
}

#seta i{
    font-size: 2.5em;
    color: #ccc;
}

/*********wpp************/
#wpp{
    width: 100px;
    text-align: center;
    position: fixed;
    z-index: 2;
    bottom: 10px;
    right: 10px;
    box-shadow: 0 0 1px #ccc;
    background-color: rgba(54, 31, 31, 0.8);
    padding: 10px;
}

#wpp span{
    color: #45c655;
    font-size: 0.8em;
}

#wpp img{
    width: 60px;
    cursor: pointer;
    transition: all ease-in 0.2s;
    margin-bottom: 5px;
}

#wpp img:hover{
    width: 70px;
}

/********Topo***********/

#topo{
    width: 100%;
    background-color: var(--corSecundaria);
    padding-bottom: 50px;
    margin-bottom: 50px;
    position: relative;
}

#topo .conteudoTopo{
    display: flex;
    justify-content: center;
    /*background-color: yellow;*/
    width: 100%;
    padding: 20px;
}

#topo .conteudoTopo .logoInformacoes{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    /*background-color: red;*/
}

#topo .conteudoTopo .logoInformacoes .containerLogoIcones{
    /*background-color: gray;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

#topo .conteudoTopo .logoInformacoes .containerLogoIcones .logo{
    /*background-color: green;*/
    margin-right: 5%;
}

#topo .conteudoTopo .logoInformacoes .containerLogoIcones .logo img{
    width: 150px;
}

#topo .conteudoTopo .logoInformacoes .containerLogoIcones .iconeRedesSociais{
    /*background-color: orange;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#topo .conteudoTopo .logoInformacoes .containerLogoIcones .iconeRedesSociais i{
    /*background-color: brown;*/
    margin: 20px;
    color: var(--corPadrao);
    font-size: 1.1em;
    cursor: pointer;
}

#topo .conteudoTopo .logoInformacoes .containerLogoIcones .iconeRedesSociais i:hover{
    color: var(--corPrincipal);
}

#topo .conteudoTopo .logoInformacoes .containerLogoIcones button{
    display: none;
    margin-left: 30px;
    border: 1px solid var(--corPadrao);
    background-color: transparent;
}

#topo .conteudoTopo .logoInformacoes .containerLogoIcones button i{
    font-size: 1.8em;
    padding: 10px;
    color: var(--corPrincipal);
}

#topo .conteudoTopo .logoInformacoes .containerLogoIcones nav.toggle{
    display: none;
    width: 100%;
    background-color: var(--corPrincipal);
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 2;
}

#topo .conteudoTopo .logoInformacoes .containerLogoIcones nav.toggle ul{
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

#topo .conteudoTopo .logoInformacoes .containerLogoIcones nav.toggle ul li{
    padding: 8px 0;
}

#topo .conteudoTopo .logoInformacoes .containerLogoIcones nav.toggle ul li a{
    text-decoration: none;
    color: var(--corPadrao);
    display: inline-block;
    width: 100%;
    font-size: 1.3em;
}

#topo .conteudoTopo .logoInformacoes .iconeInformacoesContato{
    /*background-color: black;*/
    display: flex;
}

#topo .conteudoTopo .logoInformacoes .iconeInformacoesContato .caixaInformacoes{
    /*background-color: salmon;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 7px;
}

#topo .conteudoTopo .logoInformacoes .iconeInformacoesContato .caixaInformacoes i{
    color: var(--corPrincipal);
    font-size: 1.5em;
    padding: 10px;
    border: 1px solid var(--corPrincipal);
    border-radius: 50%;
}

#topo .conteudoTopo .logoInformacoes .iconeInformacoesContato .caixaInformacoes .contatos{
    /*background-color: blueviolet;*/
    color: var(--corPadrao);
    margin: 5px;
}

/*********nav***********/
#topo .conteudoTopo nav.principal{
    background-color: var(--corPrincipal);
    width: 90%;
    max-width: 1300px;
    border-radius: 5px;
    position: absolute;
    bottom: -35px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#topo .conteudoTopo nav.principal ul{
    list-style-type: none;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /*background-color: violet;*/
    margin-bottom: 0;
}

#topo .conteudoTopo nav.principal ul li{
    /*border: 1px solid black;*/
    width: 100%;
    padding: 10px 0;
    text-align: center;
    background-color: var(--corPrincipal);
    cursor: pointer;
}

#topo .conteudoTopo nav.principal ul li:last-child{
    background-color: var(--corPadrao);
    border-radius: 0 5px 5px 0;
}

#topo .conteudoTopo nav.principal ul li:last-child a{
    color: var(--corPrincipal);
}

#topo .conteudoTopo nav.principal ul li a{
    text-decoration: none;
    color: var(--corPadrao);
    font-weight: 700;
}

#topo .conteudoTopo nav.principal ul li:hover a{
    color: rgba(255, 255, 255, 0.8);
}

#topo .conteudoTopo nav.principal ul li:last-child:hover a{
    color: var(--corSecundaria);
}

/********banner**********/
#banner{
    width: 100%;
    height: 650px;
    background: url('../imagens/capa2.jpg') no-repeat center;
    background-size: cover;
    margin-top: -50px;
    display: flex;
    align-items: center;
    align-content: center;
}

.escuro{
    width: 100%;
    height: 700px;
    background-color: rgba(0,0,0,0.5);
    margin-top: -50px;
    display: flex;
    align-items: center;
    align-content: center;
}

#banner .apresentacao{
    width: 100%;
    padding: 20px;
    /*background-color: lawngreen;*/
}

#banner .apresentacao h1{
    width: 80%;
    font-size: 3em;
    text-transform: uppercase;
    font-weight: 700;
    text-shadow: 1px 1px 1px white;
    color: var(--corSecundaria);
}

#banner .apresentacao p{
    font-size: 2em;
    width: 85%;
    color: white;
}

/*******informacoes******/

#informacoes{
    background-color: transparent;
    margin-bottom: 30px;
}
#informacoes .caixas{
    background-color: transparent;
    padding: 0;
    margin-top: -50px;
    position: relative;
    display: flex;
    justify-content: space-evenly;
}

#informacoes .caixas .conteudoCaixa{
    background-color: var(--corPadrao);
    border: 1px solid #ccc;
    margin: 0;
    padding: 15px;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
}

#informacoes .caixas .conteudoCaixa i{
    color: var(--corPrincipal);
    font-size: 3em;
    padding: 30px;
    border: 1px solid var(--corPrincipal);
    border-radius: 50%;
}

#informacoes .caixas .conteudoCaixa h3{
    text-align: center;
}

#informacoes .caixas .conteudoCaixa p{
    text-align: justify;
}

#informacoes .caixas .conteudoCaixa button,
#informacoes .caixas .conteudoCaixa a{
    padding: 5px 10px;
    border: 1px solid var(--corPrincipal);
    border-radius: 10px;
    background-color: transparent;
    color: var(--corPrincipal);
    text-decoration: none;
}

#informacoes .caixas .conteudoCaixa button:hover,
#informacoes .caixas .conteudoCaixa a:hover{
    background-color: var(--corPrincipal);
    color: var(--corPadrao);
}

/*****acessórios******/

#acessorios{
    background-color: #ccc;
    padding-bottom: 50px;
}

#acessorios h4{
    text-align: center;
    padding: 50px 0;
    font-size: 2.5em;
}

#acessorios .caixas-itens{
    /*background-color: yellow;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#acessorios .caixas-itens .itens{
    background-color: white;
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: 0 0 5px black;
    width: 45%;
    height: 230px;
    display: flex;
    margin-bottom: 20px;
}

#acessorios .caixas-itens .itens .caixa-img{
    width: 40%;
    height: 227px;
    border-radius: 15px 0 0 15px;
}

#acessorios .caixas-itens .itens .img1{
    background: url('../imagens/fone.jpg') no-repeat center;
    background-size: cover;
}

#acessorios .caixas-itens .itens .img2{
    background: url('../imagens/caixaSom.jpg') no-repeat center;
    background-size: cover;
}

#acessorios .caixas-itens .itens .img3{
    background: url('../imagens/carregador.png') no-repeat center;
    background-size: cover;
}

#acessorios .caixas-itens .itens .img4{
    background: url('../imagens/mouse.jpg') no-repeat center;
    background-size: cover;
}

#acessorios .caixas-itens .itens .img5{
    background: url('../imagens/relogio.jpg') no-repeat center;
    background-size: cover;
}

#acessorios .caixas-itens .itens .img6{
    background: url('../imagens/capinha.jpg') no-repeat center;
    background-size: cover;
}

#acessorios .caixas-itens .itens .caixa-conteudo{
    padding: 20px;
    /*background-color: blue;*/
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#acessorios .caixas-itens .itens .caixa-conteudo h5{
    width: 100%;
    color: var(--corSecundaria);
    text-shadow: 0 0 2px black;
}

#acessorios .caixas-itens .itens .caixa-conteudo p{
    width: 100%;
    overflow-y: hidden;
}

#acessorios .caixas-itens .itens .caixa-conteudo button{
    padding: 5px 10px;
    border: 1px solid var(--corSecundaria);
    border-radius: 10px;
    background-color: transparent;
    color: var(--corSecundaria);
    text-decoration: none;
}

#acessorios .caixas-itens .itens .caixa-conteudo button:hover{
    background-color: var(--corPrincipal);
    color: var(--corPadrao); 
    border: 1px solid var(--corPrincipal);
}

/*********servicos*********/

#servicos{
    background-color: var(--corPrincipal);
    padding-bottom: 50px;
}

#servicos h4{
    text-align: center;
    padding: 50px 0;
    font-size: 2.5em;
    color: var(--corPadrao);
}

#servicos .todos-servicos{
    /*background-color: yellow;*/
    display: flex;
    margin-bottom: 10px;
}

#servicos .todos-servicos .img-servicos{
    width: 50%;
    height: 300px;
}

#servicos .todos-servicos .img1{
    background: url('../imagens/formatacao.jpg') no-repeat center;
    background-size: cover;
}

#servicos .todos-servicos .img2{
    background: url('../imagens/manutencao.jpg') no-repeat center;
    background-size: cover;
}

#servicos .todos-servicos .img3{
    background: url('../imagens/concerto.jpg') no-repeat center;
    background-size: cover;
}

#servicos .todos-servicos .conteudo-servicos{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid #ccc;
}

#servicos .todos-servicos .dir{
    margin-left: 0;
}

#servicos .todos-servicos .esq{
    margin-right: 0;
}

#servicos .todos-servicos .conteudo-servicos h3{
    width: 100%;
    text-align: left;
    color: var(--corSecundaria);
}

#servicos .todos-servicos .conteudo-servicos h3.inverso{
    width: 100%;
    text-align: right;
    margin-right: 0
}

#servicos .todos-servicos .conteudo-servicos p{
    text-align: justify;
}

#servicos .todos-servicos .conteudo-servicos button{
    padding: 10px;
    border: 1px solid var(--corPadrao);
    border-radius: 20px;
    color: var(--corPadrao);
    background-color: transparent;
}

#servicos .todos-servicos .conteudo-servicos button:hover{
    border: 1px solid var(--corSecundaria);
    color: var(--corSecundaria);
}
