@media (max-width: 1090px){
    #topo .conteudoTopo .logoInformacoes{
        flex-direction: column;
    }
    #topo .conteudoTopo .logoInformacoes .containerLogoIcones{
        justify-content: space-around;
        width: 100%;
    }
}

@media (max-width: 720px){
    #topo{
        padding-bottom: 0;
        margin-bottom: 0;
    }
    #topo .conteudoTopo .logoInformacoes .iconeInformacoesContato{
        display: none;
    }

    #topo .conteudoTopo .logoInformacoes .containerLogoIcones button{
        display: block;
    }

    #topo .conteudoTopo nav.principal{
        display: none;
    }
}

@media (max-width: 550px){
    #topo .conteudoTopo .logoInformacoes .containerLogoIcones .iconeRedesSociais{
        display: none;
    }
}








