@media (max-width: 1200px){
    #topo .conteudoTopo .logoInformacoes{
        flex-direction: column;
    }
    #topo .conteudoTopo .logoInformacoes .containerLogoIcones{
        justify-content: space-around;
        width: 100%;
    }
    #informacoes .caixas{
        flex-wrap: wrap;
    }
    #informacoes .caixas .conteudoCaixa{
        width: 35%;
        margin-bottom: 20px;
    }
    #acessorios .caixas-itens{
        flex-direction: column;
        align-items: center;
    }
    #acessorios .caixas-itens .itens{
        width: 80%;
    }
}






@media (max-width: 750px){
    #seta{
        bottom: 120px;
    }
    #seta i{
        font-size: 2em;
    }
    #wpp, #seta{
        width: 80px;
    }
    #wpp span{
        font-size: 0.5em;
    }
    #wpp img{
        width: 50px;
    }
    #wpp img:hover{
        width: 60px;
    }
    #topo{
        padding-bottom: 0;
        margin-bottom: 0;
    }
    #topo .conteudoTopo .logoInformacoes .iconeInformacoesContato{
        display: none;
    }

    #topo .conteudoTopo .logoInformacoes .containerLogoIcones button{
        display: block;
    }

    #topo .conteudoTopo nav.principal{
        display: none;
    }

    #informacoes .caixas{
        flex-direction: column;
        align-items: center;
    }

    #informacoes .caixas .conteudoCaixa{
        width: 80%;
    }
    #acessorios .caixas-itens .itens{
        width: 90%;
        display: flex;
        height: 500px;
        flex-direction: column;
    }
    #acessorios .caixas-itens .itens .caixa-img{
        width: 100%;
        height: 300px;
        border-radius: 15px;
    }
    
    #acessorios .caixas-itens .itens .caixa-conteudo{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    #acessorios .caixas-itens .itens .caixa-conteudo h5{
        text-align: center;
    }

    #servicos .todos-servicos{
        flex-direction: column;
        align-items: center;
    }
    #servicos .todos-servicos .img-servicos{
        width: 100%;
    }
    #servicos .todos-servicos .conteudo-servicos{
        width: 90%;
        height: 250px;
        margin: 0 auto;
    }
    #servicos .todos-servicos .conteudo-servicos h3,
    #servicos .todos-servicos .conteudo-servicos h3.inverso{
        text-align: center;
    }
    #servicos .flex-item > .conteudo-servicos{
        order: 2;
    }
    #servicos .flex-item > .img-servicos{
        order: 1;
    }
}









@media (max-width: 550px){
    #topo .conteudoTopo .logoInformacoes .containerLogoIcones .iconeRedesSociais{
        display: none;
    }
    #banner .apresentacao h1{
        font-size: 1.8em;
        width: 90%;
    }
    #banner .apresentacao p{
        font-size: 1.2em;
        width: 95%;
    }
}








